---
import Header from '../components/Header.astro';
import LeftNav from '../components/LeftNav.astro';
import RightNav from '../components/RightNav.astro';
import BottomNav from '../components/BottomNav.astro';
import Footer from '../components/Footer.astro';

import { sidebar } from '../config';

import '../assets/css/tailwind.css';

import type { MarkdownLayoutProps } from 'astro';

type Props = MarkdownLayoutProps<{
  title: string;
  description: string;
}>;

const { frontmatter, url } = Astro.props;

let previous = false;
let next = false;
let found = false;
let category = '';
Object.keys(sidebar).some(key => {
    sidebar[key].some(item => {
        if (found && !next) next = item;
        if (item.filename === url.substring(1)) {
            category = key;
            found = true;
        }
        if (!found) previous = item;
    });
});
---

<!DOCTYPE html>
<html lang="en" class="antialiased" x-data="{ navOpen: false }" :class="navOpen ? 'overflow-hidden' : ''" @keyup.escape="navOpen = false">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>{frontmatter.title}</title>
		<meta name="description" content={frontmatter.description} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
		<script is:inline>
            let isDarkMode = window.matchMedia('(prefers-color-scheme: dark)')

            function updateTheme(theme) {
                theme = theme ?? window.localStorage.theme ?? 'system'

                if (theme === 'dark' || (theme === 'system' && isDarkMode.matches)) {
                    document.documentElement.classList.add('dark')
                } else if (theme === 'light' || (theme === 'system' && !isDarkMode.matches)) {
                    document.documentElement.classList.remove('dark')
                }

                return theme
            }

            function updateThemeWithoutTransitions(theme) {
                updateTheme(theme)
                document.documentElement.classList.add('[&_*]:!transition-none')
                window.setTimeout(() => {
                    document.documentElement.classList.remove('[&_*]:!transition-none')
                }, 0)
            }

            document.documentElement.setAttribute('data-theme', updateTheme())

            new MutationObserver(([{oldValue}]) => {
                let newValue = document.documentElement.getAttribute('data-theme')
                if (newValue !== oldValue) {
                    try {
                        window.localStorage.setItem('theme', newValue)
                    } catch {
                    }
                    updateThemeWithoutTransitions(newValue)
                }
            }).observe(document.documentElement, {attributeFilter: ['data-theme'], attributeOldValue: true})

            isDarkMode.addEventListener('change', () => updateThemeWithoutTransitions())
        </script>
	</head>
	<body class="bg-white dark:bg-slate-900">
        <Header />
        <div class="relative mx-auto flex max-w-8xl justify-center sm:px-2 lg:px-8 xl:px-12">
            <LeftNav />
            <div class="min-w-0 max-w-2xl flex-auto px-4 py-16 lg:max-w-none lg:pr-0 lg:pl-8 xl:px-16">
                <article>
                    {category &&
                        <header class="mb-9 space-y-1">
                            <p class="font-display text-sm font-medium bg-yellowtdr w-fit px-2 py-1 rounded">{category}</p>
                            <h1 class="font-display text-3xl tracking-tight text-slate-900 dark:text-white">{frontmatter.title}</h1>
                        </header>
                    }
                    <div class="prose prose-slate max-w-none dark:prose-invert dark:text-slate-400 prose-headings:scroll-mt-28 prose-headings:font-display prose-headings:font-normal lg:prose-headings:scroll-mt-[8.5rem] prose-lead:text-slate-500 dark:prose-lead:text-slate-400 prose-a:font-medium prose-a:text-gray-600 hover:prose-a:text-black dark:prose-a:text-gray-300 dark:hover:prose-a:text-white prose-a:decoration-yellowtdr prose-a:underline prose-a:underline-offset-2 hover:prose-a:decoration-2 prose-pre:rounded-xl prose-pre:bg-slate-900 prose-pre:shadow-lg dark:prose-pre:bg-slate-800/60 dark:prose-pre:shadow-none dark:prose-pre:ring-1 dark:prose-pre:ring-slate-300/10 dark:prose-hr:border-slate-800">
                        <slot />
                    </div>
		        </article>
                <BottomNav previous={previous} next={next} />
                <Footer />
            </div>
		    <RightNav headings={Astro.props.headings} />
        </div>
	</body>
</html>